scrapy-crawlera==1.7.2
cssselect==0.9.1

dnspython==2.0.0
APScheduler==3.6.3
http-request-randomizer==1.2.3

pymongo==3.11.0

pyOpenSSL==19.1.0
pyparsing==2.4.7
pypi-install==0.0.5
pyquery==1.4.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-git==2018.2.1
python-slugify==4.0.1

scrapyd==1.2.1
scrapyd-client==1.2.0a1

Scrapy==2.6.0
